<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/styles') %>
    <title>Homepage</title>
</head>

<body>
    <%- include('./partials/header') %>

    <%= JSON.stringify(user) %>

    <!-- <%- include('./partials/footer') %> -->
    
    <%- include('./partials/scripts') %>
</body>

</html>